.tool {
    background-color: #3d3d3d !important;;
    border: none;
}

.number {
    background-color: #505050 !important;;
    color: #fff;
}

.number:hover {
    background-color: #2a2a2a !important;;
}